input {
	width: 40px;
	height: 20px;
	display: inline-block;
	float: left;
	vertical-align: baseline;
	margin-top: 8px;
	margin-left: 3px;
	margin-right: 3px;
	clear: left;
}

p {
	float: left;
	display: inline-block;
	vertical-align: baseline;
	clear: right;
}

form {
	width: 370px;
	height: 400px;
	margin: 0 auto;
	background-color: #51068F;
	border-radius: 5%;
}

h1 {
	text-align: center;
	color: white;
}

h2 {
	margin: 2px auto;
}

button {
	display: block;
	height: 50px;
	width: 120px;
	font-size: 20px;
	border-radius: 40px;
	color: black;
	border: none;
	cursor: pointer;
	display: inline-block;
	margin: 8px 30px;
	font-weight: 700;
	outline: none;
	position: relative;
	background: #cb4e4e;
	box-shadow: 0 6px #ab3c3c;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

button:hover {
	box-shadow: 0 4px #ab3c3c;
	top: 2px;
}

button:active {
	box-shadow: 0 0 #ab3c3c;
	top: 6px;
}

#width, #height {
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	color: red;
}

#warning {
	background-color: red;
	color: black;
	font-weight: bold;
	padding: 5px;
	margin: 0px;
	width: 100%;
	font-family: 'Arial', sans-serif;
	font-size: 15px;
	text-align: center;
	clear: right;
	opacity: 1;
	transition: all linear 1s;

}

#warning.ng-hide {
	opacity: 0;
}

#pattern_size, #fabric_size {
	float: left;
	cursor: default;
	background-color: #AE6CE3;
}


#stitched_size {
	background-color: #7108C7;
	border-top: black solid 6px;
	cursor: default;
}
