input {
	width: 40px;
	height: 20px;
	display: inline-block;
	float: left;
	vertical-align: baseline;
	margin-top: 8px;
	margin-left: 3px;
	margin-right: 3px;
	clear: left;
}

p {
	float: left;
	display: inline-block;
	vertical-align: baseline;
	clear: right;
}

form {
	width: 330px;
	margin: 0 auto;
}

h1 {
	text-align: center;
}

button {
	display: block;
	margin: 10px auto;
	height: 50px;
	width: 100px;
	font-size: 20px;
	border-radius: 5%;
}

#width, #height {
	padding-left: 2px;
	padding-right: 2px;
	font-weight: bold;
	color: red;
}

#warning {
	text-align: center;
	clear: right;
}