<!DOCTYPE html>
<html ng-app="patternSize">
	<head>

	</head>

	<body>
		<form ng-controller="FormController as formCtrl">
			<fieldset class="form-group">
				<p>Pattern Size: </p>
				<input ng-model="formCtrl.patternWidth" />
				<p>stitches wide by</p>
				<input ng-model="formCtrl.patternHeight" />
				<p>stitches high</p>
			</fieldset>
			<fieldset class="form-group">
				<p>Fabric Size</p>
				<input ng-model="formCtrl.fabricSize" />
				<p>threads per inch</p>
			</fieldset>
			<p>The food is {{spice}} spicy!</p>
			<button ng-click="chiliSpicy()">Calculate</button>
		</form>

		<script type="text/javascript" src="lib/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
	</body>

</html>